:root {
    --background: darkgrey; /*evtl. für einen späteren dark toggle*/
    --footer-height: 80px;
    --article-shadow: 5px 5px 5px 1px rgba(0 0 0 / 10%);
    --article-background: #eee;
}

html {
    height: 100%;
}
body {
    background-color: var(--background);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    padding: 0 0 var(--footer-height) 0;
    min-height: 100%;
    position: relative;
    margin: 0;
}
body header {
    display: initial;
}
/*top navigation style start*/
body header nav {
    background-color: gainsboro;
    display: flex;
    position: sticky;
    top: 0;
}

body header nav a {
    display: flex;
    padding: 1rem;
    text-decoration: none;
    color: black;
}

body header nav a:hover{
    background-color: #eee;
}
body header nav a.active{
    background-color: var(--background);
    pointer-events: none;
}

h1 {
    font-style: italic;
    color: #fff;
    margin: .5em;
}
body footer{
    font-style: italic;
    color: #fff;
    position: sticky;
    bottom: 0;
    left: 0;
    height: var(--footer-height);
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--background);
}
body footer p {
    padding: 0 1em;
}

@media (max-width: 600px) {
    body header nav{
        flex-direction: column;
        position: sticky;
    }
    body header nav a:not(:first-child){
        display: none;
    }
    body header nav.visible a{
        display: inline-block;
    }
}

@media (min-width: 601px) {
    #menu-button{
        display: none;
    }
}
/*top navigation style end
============================

============================
article cards style start*/

.content {
    display: flex;
    background-color: #e4e4e4;
    flex-direction: column;
    padding: 2rem;
}

.content article{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background-color: var(--article-background);
    border-radius: 1em;
    box-shadow: var(--article-shadow);
}
.article-child{
    margin: .5rem;
}

@media (min-width: 900px){
    .content{
        flex-flow: row wrap;
    }
}
/*article cards style end
============================

============================
products list style start*/

.products article {
    padding: 1em;
}

.name-price-container{
    display: flex;
    flex-direction: row;
}
.product-price {
    border-radius: 0 15px;
    background: red;
    color: yellow;
    padding: 0 4px;
    margin-left: auto;
}

.sku, .product-category{
    font-style: italic;
}
/*
.Products article h2 {
    background-color: darkgrey;
    order: 2;
}

.ProductDescription{
    background-color: aquamarine;
    order: 4;
}
*/
@media (min-width: 900px){
    .products article{
        width: calc((100% / 2) - 6rem);
    }
    /*.NamePriceContainer{
        flex-direction: column;
    }*/
}
/*products list style end
============================

============================
testimonials style start*/

.testimonials article {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.testimonials article figure{
    /*border: 1px #000 solid;*/
    border-radius: 8em;
    overflow: hidden;
}

.testimonials article figure img{
    max-width: 8em;
    vertical-align: middle;
}

.testimonials article blockquote{
    max-width: 20em;
}

@media (min-width: 900px){
    .testimonials article{
        width: calc((100% / 3) - 4rem);
    }
}
/*testimonials style end
============================

============================
feedback style start*/
body form{
    margin: 1em;
}

body form section{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

body form section label{
    display: block;
}

body form section div{
    min-width: 200px;
}

@media (min-width: 600px){
    body form section{
        flex-direction: row;
    }
}

button{
    background-color: var(--article-background);
    text-decoration: none;
    height: 40px;
    width: 150px;
    border: 1px #e4e4e4 solid;
    border-radius: 5px;
}

button:hover{
    background-color: #f90;
}

.helptext{
    font-size: .8em;
}